.nav {
  font-size: 1.5rem;
  border-bottom: 1px solid rgb(193, 194, 193);
  background-color: rgba(36, 37, 36, 0.75);
  color: rgb(193, 194, 193);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10dvh;
  padding: 0 5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-backdrop-filter: blur(18px) brightness(0.9) contrast(1.2);
          backdrop-filter: blur(18px) brightness(0.9) contrast(1.2);
}
.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-left-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  transition: color 0.3s ease, transform 0.3s ease;
}

.menu-nav {
  display: flex;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.menu-nav-item {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.menu-nav-item:hover {
  color: #E0CCBE;
  transform: scale(1.05);
}

.hamburger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-nav {
  height: 90dvh;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}
.mobile-nav-item {
  font-size: 2em;
  margin-bottom: 1em;
  padding: 0.5em;
  border-bottom: 1px solid rgb(193, 194, 193);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #242524;
}

h1 {
  font-size: 7em;
  color: rgb(193, 194, 193);
  text-align: center;
  border-bottom: 1px solid rgb(193, 194, 193);
  padding: 0 0.5em;
}

h2 {
  font-size: 3em;
  color: rgb(193, 194, 193);
  text-align: center;
}

.home-name-last {
  color: white;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 90dvh;
  padding-bottom: 15dvh;
}
.home-main-section {
  z-index: 5;
}
.home-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;
  text-decoration: none;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-content {
  padding: 3em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.about-content-text {
  padding-right: 5em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.about-content-text-text {
  font-size: 1.3em;
  text-align: center;
  width: 40em;
  padding: 1em;
  background-color: #242524;
  color: rgb(193, 194, 193);
  border-radius: 2em;
}
.about-content-picture {
  width: 20em;
  height: 20em;
  border-radius: 10em;
  background-color: #242524;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-content-picture-container {
  width: 15em;
  height: 15em;
  border-radius: 7.5em;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style-type: none;
}
.skill-container-header {
  margin-bottom: 1em;
}
.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.skill-item {
  text-decoration: none;
  background-color: #242524;
  width: 10em;
  height: 10em;
  border-radius: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3em;
}
.project-container-grid {
  display: flex;
  flex-direction: column;
}
.project-item {
  display: flex;
  width: 100%;
  max-width: 100em;
}
.project-item-left {
  width: 100%;
  padding: 1em;
  border: 1em solid #242524;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5em;
  border-bottom-left-radius: 5em;
}
.project-item-left-laptop {
  font-size: 1.8em;
  width: 16em;
  height: 9em;
  border: 0.2em solid black;
  border-radius: 0.1em;
}
.project-item-left-mobile {
  font-size: 1.8em;
  width: 4em;
  height: 8em;
  border: 0.2em solid black;
  border-radius: 0.1em;
  margin-left: 0.5em;
}
.project-item-left-new-left {
  order: 2;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5em;
  border-bottom-right-radius: 5em;
  border-left: none;
}
.project-item-right {
  background-color: #242524;
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 5em;
  border-bottom-right-radius: 5em;
  border-left: none;
  gap: 1em;
}
.project-item-right-header {
  font-size: 3em;
  flex: 1;
}
.project-item-right-languages {
  font-size: 1.1em;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}
.project-item-right-languages-item {
  background-color: #E0CCBE;
  color: black;
  padding: 0.2em 1em;
  border-radius: 0.5em;
}
.project-item-right-text {
  font-size: 1.3em;
  padding: 0 1.5em;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(193, 194, 193);
}
.project-item-right-hyperlink {
  font-size: 1.2em;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  border-top: 0.3em solid #121212;
  padding-top: 0.5em;
}
.project-item-right-hyperlink-item {
  background-color: #121212;
  color: rgb(193, 194, 193);
  padding: 0.2em 1em;
  border-radius: 0.5em;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}
.project-item-right-hyperlink-item:hover {
  color: #E0CCBE;
  transform: scale(1.1);
}
.project-item-right-new-right {
  border-top-left-radius: 5em;
  border-bottom-left-radius: 5em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 1em;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 60em;
  width: 100%;
}
.contact label {
  font-size: 1.3em;
}
.contact p {
  color: #DC143C !important;
  font-size: 1em;
  margin-top: 0.5em;
}
.contact-header {
  margin-bottom: 0.8em;
}
.contact-form {
  background-color: #242524;
  color: rgb(193, 194, 193);
  border-radius: 1em;
  width: 100%;
  padding: 1em;
}
.contact-form-top {
  display: flex;
  gap: 5em;
  justify-content: space-between;
}
.contact-form-top input {
  font-size: 1.5rem;
  padding: 0.3em;
  width: 100%;
  background-color: rgb(193, 194, 193);
  border: none;
  color: black;
}
.contact-form-top div {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.contact-form-bottom {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}
.contact-form-bottom textarea {
  font-size: 1.5rem;
  width: 100%;
  height: 10em;
  padding: 0.3em;
  background-color: rgb(193, 194, 193);
  border: none;
  color: black;
}
.contact-form-recaptcha {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}
.contact-form-button {
  font-size: 1.2em;
  font-weight: bold;
  background-color: #121212;
  color: rgb(193, 194, 193);
  padding: 0.5em 3em;
  border: none;
  border-radius: 0.5em;
  display: block;
  margin: 1em auto 0;
  transition: transform 0.3s ease-in-out;
}
.contact-form-button:hover:enabled {
  color: #E0CCBE;
  cursor: pointer;
  transform: scale(1.1);
}
.contact-form-button:disabled {
  cursor: not-allowed;
}

footer {
  background-color: #242524;
  color: rgb(193, 194, 193);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #121212;
  padding-top: 10dvh;
  min-width: 380px;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em 0em;
  width: 100%;
  background-color: #121212;
}

h3 {
  border-bottom: 0.1em solid rgb(193, 194, 193);
  color: rgb(193, 194, 193);
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
  font-size: 4em;
}

.particle-test {
  background-color: red;
  width: 50rem;
  height: 50rem;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(83, 85, 84);
}

body::-webkit-scrollbar-track {
  background-color: #121212;
}

@media (max-width: 1600px) {
  section {
    padding: 2.5em 3em;
  }
}
@media (max-width: 1350px) {
  .project-item-left-laptop, .project-item-left-mobile {
    font-size: 1.3em;
  }
  .project-item-right-text {
    font-size: 1em;
  }
  .about-content-text-text {
    width: 25em;
  }
  .menu-nav {
    gap: 1em;
  }
  .nav {
    padding: 0 3em;
  }
}
@media (max-width: 1150px) {
  .nav {
    font-size: 1.1em;
  }
}
@media (max-width: 1100px) {
  h3 {
    font-size: 3em;
  }
  section {
    padding: 2.5em 3em;
  }
  .project-item-left-laptop, .project-item-left-mobile {
    font-size: 1em;
  }
  .project-item-right-header {
    font-size: 2em;
  }
  .project-item-right-languages-item {
    font-size: 0.6em;
  }
  .project-item-right-text {
    font-size: 0.8em;
  }
  .project-item-right-hyperlink {
    border-top: 0.2em solid #121212;
  }
  .project-item-right-hyperlink-item {
    font-size: 0.8em;
  }
  .about-content {
    flex-direction: column;
  }
  .about-content-text {
    padding-right: 0;
    padding-top: 5em;
    order: 2;
  }
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 2em;
  }
}
@media (max-width: 900px) {
  .project-container {
    gap: 2em;
  }
  .project-item {
    flex-direction: column;
  }
  .project-item-left {
    order: 2;
    font-size: 1.3em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 2.5em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 2.5em;
  }
  .project-item-right {
    font-size: 1.3em;
    border-top-left-radius: 2.5em;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2.5em;
    border-bottom-right-radius: 0em;
  }
  .skill-list {
    gap: 2em;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2em;
  }
  .nav {
    padding: 0 1.5em;
    font-size: 0.9em;
  }
  .menu-nav-item {
    font-size: 1.1em;
  }
}
@media (max-width: 650px) {
  .skill-list {
    font-size: 0.8em;
  }
  .contact-form-bottom {
    height: 12em;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 600px) {
  h3 {
    font-size: 2.5em;
  }
  section {
    padding: 2.5em 2em;
  }
  .contact-form-top {
    flex-direction: column;
    gap: 1em;
  }
  .project-item-left {
    font-size: 1em;
  }
  .project-item-right {
    font-size: 1;
  }
  .project-container {
    gap: 1.5em;
  }
  .project-item-right-header {
    font-size: 1.6em;
  }
  .project-item-right-languages-item {
    font-size: 0.6em;
  }
  .project-item-right-text {
    font-size: 0.7em;
  }
  .project-item-right-hyperlink {
    border-top: 0.2em solid #121212;
  }
  .project-item-right-hyperlink-item {
    font-size: 0.6em;
  }
  .contact-form-bottom {
    height: 10em;
  }
  .about-content {
    font-size: 0.8em;
  }
}
@media (max-width: 500px) {
  h3 {
    font-size: 2em;
  }
  .skill-list {
    gap: 2em;
  }
  .project-item-left-laptop, .project-item-left-mobile {
    font-size: 0.8em;
  }
  section {
    padding: 2.5em 1em;
  }
  .about-content {
    font-size: 0.6em;
  }
  h1 {
    font-size: 2.8em;
  }
  h2 {
    font-size: 1.5em;
  }
}/*# sourceMappingURL=main.css.map */